*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin-top: 1rem;
    margin-left: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ul{
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
    padding-left: 8rem;
    gap: 4rem;
  }

  ul a{
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    text-decoration: none;
}

.btn{
    display: flex;
    gap: 1rem;
    margin-right: 10rem;
}

.text{
    margin-top: 1rem;
}

.nav-btn1{
    background-color: #fff;
    color:  rgb(245, 69, 69);
    font-weight: 700;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 30%;
    border: solid 2.5px rgb(245, 69, 69);
    cursor: pointer;
}
.nav-btn1:hover{
    background-color: rgb(240, 226, 228);
    color:  rgb(245, 69, 69);
    font-weight: 700;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 30%;
    border: solid 2.5px rgb(245, 69, 69);
    
}
.nav-btn2{
    background-color: rgb(245, 69, 69);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 40px 40px 40px 40px;
    /* margin-right: ; */
    border: none;
}
.nav-btn2:hover{
    background-color: rgb(161, 52, 52);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 40px 40px 40px 40px
    ;
    /* margin-right:` ; */
    border: none;
}
.page1{
    margin-top: 1.5rem;
    /* margin-left: 10rem; */
}

.page1bg img{
    /* margin-top: 5rem; */
    width: 100vw;
    height: 38rem;
}

/* .imgbg{
    
} */